* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.hide {
  display: none;
}

button {
  width: 100px;
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn {
  background-color: rgb(4, 148, 4);
}

#edit-btn {
  background-color: #0b0b0b;
}

main button {
  margin-top: 50px;
  align-self: flex-end;
  opacity: 0.1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

main button:hover {
  opacity: 1;
}

form h3 {
  margin-top: 20px;
}

form input,
label {
  display: block;
  width: 200px;
  height: 30px;
}

input {
  padding: 5px;
}

label {
  margin-top: 20px;
}

textarea {
  width: 300px;
  height: 200px;
  padding: 5px;
}

main {
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgb(187, 186, 186);
}

.personal-section {
  display: flex;
  flex-direction: column;
}

.personal-section div {
  flex-grow: 1;
  text-align: center;
}

.personal-section .flex-container {
  justify-content: center;
}

.educational-section,
.practical-section {
  text-align: center;
}

.flex-container {
  display: flex;
  text-align: start;
  justify-content: space-between;
}

.educational-section,
.practical-section {
  border-top: 2px solid rgb(187, 186, 186);
}

#root {
  width: 100vw;
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

/* Font */
div.name-div {
  font-size: 3rem;
}

.light {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.heavy {
  font-weight: 900;
  font-size: 1.2rem;
}

label {
  font-weight: 500;
  font-size: 1.1rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

/* margin and padding */
main {
  padding: 10px 50px 0px 50px;
}

.educational-section,
.practical-section {
  margin-top: 10px;
}

.flex-container div {
  margin-bottom: 0.2rem;
}

h2 {
  margin-top: 20px;
}

.responsibility-div {
  margin-top: 20px;
  width: 500px;
}
