* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #211f1f;
  color: #ffffffe1;
}

main {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.hide {
  display: none;
}

form h3 {
  margin-top: 20px;
}

form input,
label {
  display: block;
  /* color: #000000eb; */
  width: 200px;
  height: 30px;
}

input {
  padding: 5px;
}

label {
  margin-top: 20px;
}

textarea {
  width: 300px;
  height: 200px;
  padding: 5px;
  margin-top: 9px;
}

main {
  display: flex;
  flex-direction: column;
}

.personal-section {
  display: flex;
  flex-direction: column;
}

.personal-section div {
  flex-grow: 1;
  text-align: center;
}

.personal-section .flex-container {
  justify-content: center;
}

.educational-section,
.practical-section {
  text-align: center;
}

.flex-container {
  display: flex;
  text-align: start;
  justify-content: space-between;
}

.practical-section .responsibility-div {
  max-width: 500px;
}

.educational-section,
.practical-section {
  border-top: 2px solid black;
}

#root {
  width: 100vw;
  display: flex;
  gap: 10px;
}

/* Font */
.name-div {
  font-size: 3rem;
}

/* margin and padding */
main {
  padding: 10px 50px 0px 50px;
}

.educational-section,
.practical-section {
  margin-top: 10px;
}

.flex-container div {
  margin-bottom: 0.2rem;
}

h2 {
  margin-top: 20px;
}
